<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313498741194-c42rnn7uedisfe17la9nkbvf2fo0vb7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313498741194-c42rnn7uedisfe17la9nkbvf2fo0vb7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCrs7wiOF7bZQo6KxfzD2oKUeFmo-L2_rg</string>
	<key>GCM_SENDER_ID</key>
	<string>313498741194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choengchaip.saProject</string>
	<key>PROJECT_ID</key>
	<string>singh-sa-project</string>
	<key>STORAGE_BUCKET</key>
	<string>singh-sa-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313498741194:ios:468d27889d6aa1a17b8733</string>
	<key>DATABASE_URL</key>
	<string>https://singh-sa-project.firebaseio.com</string>
</dict>
</plist>